* {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    font-family: Arial ,Helvetica, sans-serif;
}

/* Check password */
#check-password{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.check-password{
    width: 50vw;
    height: 50vh;
    margin: auto;
    text-align: center;
}
.title-pw{
    float: left;
    width: 100%;
    height: 30%;
}
.title-pw h1{
    line-height: .8em;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    padding-bottom: 15px;
    color: #3B3A3A;
}
.title-pw span{
    font-size: 16px;
    font-weight: 300;
    color: #3B3A3A;
    text-align: center;
}
.focus-pw{
    float: left;
    width: 100%;
    padding: 10px 130px;
    padding-top: 50px;
    height: 70%;
}
.focus-pw input{
    margin: auto;
    width: 100%;
    font-size: 15px;
}
.focus-pw button{
    width: 100%;
    color: #EDCD1F;
    background-color: rgba(59, 58, 58, 1);
    font-size: 15px;
}
.focus-pw input:hover , .focus-pw input:focus, .focus-pw button:focus, .focus-pw button:hover{
    box-shadow: none;
}
.focus-pw button:hover{
    background-color: #EDCD1F;
    color: rgba(59, 58, 58, 1);;
}
#no-pw{
    clear: both;
    text-align: left;
    float: left;
    visibility: hidden;
}

/* Mysite */
content{
    width: 100%;
    float: left;
    margin-top: 130px;
}
footer{
    width: 100%;
    float: left;
    background-color: rgba(47,46,46,1);
    color: #fff;
}
/* Header */

/* Commercial */
#commercial{
    display: flex;
    height: 53px;
    border-bottom: 3px solid #a0138e;
    background: #eff1f2;
    box-sizing: border-box;
    justify-content: center;
    align-self: center;
    line-height: 50px;
    margin: 0 auto;
    cursor: pointer;
    position: fixed;
    top: 0;
    width: 100%;
}
#commercial span{
    color: #20303C;
    font-size: 13px;
    font-weight: bold;
}
#commercial .start button{
    padding: 0px 30px;
    margin: 4px;
    line-height: 40px;
    background: #eff1f2;
    color: #a0138e;
    border: 1px solid #a0138e;
    border-radius: 50px;
    font-weight: bold;
}
#commercial:hover{
    background: #fff;
}
#commercial:hover .start button{
    background: #a0138e;
    color: #fff;
}
.wix-logo{
    fill: #20303C;
    width: 40px;
    height: 30px;
    vertical-align: middle;
    padding-bottom: 6px;
}
/* Menu */
#menu{
    height: 90px;
    text-align: center;
    justify-content: center;
    position: fixed;
    background-color: #FDFEFE;
    top: 50px;
    width: 100%;
    z-index: 100;
}
.list-menu{
    width: 100%;
    height: 100%;
    padding: 0px 180px;
    cursor: pointer;
}
.logo, .menu-item span{
    float: left;
    width: 25%;
    height: 100%;
    font-size: 20px;
    line-height: 90px;
    color: #1E2D3B;
    transition: color 0.4s ease 0s;
    letter-spacing: -0.5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo img{
    width: 100%;
    height: 100%;
    padding: 3px;
}
.selected span{
    color: #FF3447;
}
.menu-item:hover span{
    color: #FF3447;
}
.dropdown-menu .dropdown-item{
    text-align: center;
    text-transform: uppercase;
}
.dropdown-menu .dropdown-item:hover{
    color: #FF3447;
}
.dropdown-menu .dropdown-item:active{
    color: #FF3447;
    background-color: #fff;
}

#dropdown-shop{
    margin-left: -20px;
}
#dropdown-account{
    margin-left: 45px;
}
/* Slider bar*/
#slider-bar{
    min-height: 600px;
    background-image: url('../img/slide-bar/home.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Page Login */
#login{
    width: 100%;
    height: auto;
    float: left;
    padding: 20px 220px;
}
.login-title, .input-login, .page-register{
    width: 100%;
    float: left;
}
.login-title{
    padding-top: 20px;
}
.email-password{
    width: 70%;
    float: left;
    padding: 20px 20px;
}
.input-email , .input-password{
    float: left;
    width: 100%;
    height: 60px;
    margin: 10px 0px;
}
.input-email label, .input-password label{
    float: left;
}
.input-email h5, .input-password h5{
    line-height: 40px;
}
.input-email input, .input-password input{
    float: left;
    font-size: 15px;
    width: 50%;
    margin-left: 30px;
    border: 1px solid rgba(170, 35, 47, 1);
    cursor: pointer;
    padding: 10px 15px;
}
.input-email input:hover, .input-password input:hover, .input-email input:focus, .input-password input:focus{
    box-shadow: none;
}
.btn-login{
    width: 30%;
    float: left;
    padding-right: 20px;
    margin-top: 47px;
}
.btn-login a{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(170, 35, 47, 1);
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.6);
    border: solid rgba(43, 108, 163, 1) 0px;
    color: #fff !important;
    line-height: 80px;
    white-space: nowrap;
    margin: calc(-1 * 0px) 0px 0;
}
.btn-login a:hover{
    background-color: rgba(255, 154, 163, 1);
}
.btn-login a.btn:focus{
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.6);
}
.page-register{
    padding: 60px 20px;
    font-size: 32px;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: -1px;
}
.page-register a:hover{
    text-decoration: none;
    color: rgba(170, 35, 47, 1);
}
/*Footer*/
.footer{
    min-height: 400px;
    margin: 0px 200px;
}
.f-shop, .f-account, .f-contact{
    float: left;
    width: 33.33%;
    margin-top: 25px;
    line-height: 2;
    text-justify: center;
}
.f-shop{
    padding-left: 25px;
}
.f-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}
.footer ul li{
    list-style-type: none;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    font-weight: lighter !important;
    letter-spacing: normal;
}
.footer ul li a{
    color: #eff1f2;
    text-decoration: none;
}
.detail-contact{
    font-size: 13px;
    letter-spacing: 1px !important;
    font-style: italic;
    text-align: center;
}
.r2-contact-left{
    float: left;
    width: 25%;
}
.r2-contact-right{
    float: left;
    width: 70%;
    margin-top: 15px;
    line-height: 0.5;
}
a.link-http{
    font-size: 20px;
    color: #0069d9 !important;
}
a.link-http:hover{
    text-decoration: none;
    color: #FF3447 !important;
}

/* Responesive */
/* Dành cho điện thoại hiện ngang*/
@media all and (max-width: 479px){
    .title-pw h1{
        font-size: 25px;
    }
    .title-pw span{
        font-size: 9px;
    }
    #no-pw{
        font-size: 9px;
    }
    .focus-pw{
        padding: 0px;
    }

    .wix-logo{
        width: 20px;
        height: 20px;
        margin-top: 2px;
    }
    #commercial{
        height: 43px;
        line-height: 43px;
    }
    #commercial span{
        font-size: 6px;
    }
    #commercial .start button{
        line-height: 20px;
        padding: 0px 10px;
    }
    .list-menu{
        padding: 0px 15px;
    }
    #menu{
        height: 60px;
    }
    .logo, .menu-item span{
        font-size: 14px;
        line-height: 55px;
    }
    .login-title{
        padding-top: 15px;
    }
    .login-title h4{
        font-size: 14px;
    }
    .email-password{
        width: 100%;
        padding: 10px 10px;
    }
    .input-email, .input-password{
        height: 30px;
    }
    .input-email input, .input-password input{
        margin-left: 10px;
        font-size: 12px;
        width: 55%;
    }
    .btn-login{
        width: 100%;
        text-align: center;
        padding: 0px;
        margin-top: 10px; 
    }
    .btn-login a{
        height: 40px;
        border-radius: 10px;
        line-height: 30px;
    }
    .email-password label h5{
        font-size: 14px;
    }
    .footer{
        margin: 0px 20px;
    }
    #login{
        padding: 0px 20px;
    }
    .page-register{
        padding: 40px 10px;
        font-size: 15px;
        text-align: center;
    }
    .footer{
        padding: 20px 20px;
    }
    .f-shop, .f-account{
        width: 50%;
        min-height: 200px;
        margin: 0 auto;
    }
    .f-contact{
        width: 100%;
        margin: 0 auto;
    }
    .f-shop {
        padding-left: 0px;
    }
    .f-title{
        font-size: 20px;
    }
    .footer ul li{
        font-size: 14px;
    }
    .detail-contact{
        font-size: 11px;
        text-align: center;
    }
}
/* Dành cho điện thoại hiện ngang*/
@media all and (min-width: 480px) and (max-width: 767px) {
    .title-pw h1{
        font-size: 30px;
    }
    .title-pw span{
        font-size: 11px;
    }
    .focus-pw{
        padding: 0px;
    }
    #no-pw{
        font-size: 11px;
    }
    .wix-logo{
        width: 20px;
        height: 20px;
        margin-top: 2px;
    }
    #commercial{
        height: 43px;
        line-height: 43px;
    }
    #commercial span{
        font-size: 11px;
    }
    #commercial .start button{
        line-height: 20px;
        padding: 0px 10px;
    }
    .list-menu{
        padding: 0px 15px;
    }
    #menu{
        height: 60px;
    }
    .logo, .menu-item span{
        font-size: 14px;
        line-height: 55px;
    }
    .login-title{
        padding-top: 15px;
        padding-left: 40px;
    }
    .login-title h4{
        font-size: 14px;
    }
    .email-password{
        width: 100%;
        padding: 10px 70px;
    }
    .input-email, .input-password{
        height: 30px;
    }
    .input-email input, .input-password input{
        margin-left: 10px;
        font-size: 15px;
        width: 70%;
    }
    .btn-login{
        width: 100%;
        text-align: center;
        padding: 0px;
        margin-top: 10px; 
    }
    .btn-login a{
        height: 40px;
        border-radius: 10px;
        line-height: 30px;
    }
    .email-password label h5{
        font-size: 14px;
    }
    .footer{
        margin: 0px 20px;
    }
    #login{
        padding: 0px 20px;
    }
    .page-register{
        padding: 40px 10px;
        font-size: 15px;
        text-align: center;
    }
    .footer{
        padding: 0px 20px;
    }
    .f-shop, .f-account{
        width: 28%;
        padding-left: 0px;
        padding-top: 0px;
    }
    .f-contact{
        width: 44%;
        padding-left: 0px;
        padding-top: 0px;
    }
    .f-title{
        font-size: 20px;
    }
    .footer ul li{
        font-size: 14px;
    }
    .detail-contact{
        font-size: 15px;
        text-align: center;
    }
} 
/* Dành cho máy tính bảng hiện dọc */
@media all and (min-width: 768px) and (max-width: 1023px){
    .title-pw{
        height: 25%;
    }
    .focus-pw{
        padding: 10px 10px;
    }
    .list-menu{
        padding: 0px 20px;
    }
    .footer{
        margin: 0px 20px;
    }
    #login{
        padding: 0px 80px;
    }
    .page-register{
        padding: 40px 20px;
        font-size: 27px;
    }
    .f-shop, .f-account{
        width: 28%;
    }
    .f-contact{
        width: 44%;
    }
    .f-shop, .f-account, .f-contact{
        line-height: 2;
    }
}
/* Dành cho máy tính bảng hiện ngang*/
@media all and (min-width: 1024px) and (max-width: 1365px){
    .title-pw{
        height: 20%;
    }
    .focus-pw{
        padding: 10px 50px;
    }
    .list-menu{
        padding: 0px 20px;
    }
    .footer{
        margin: 0px 20px;
    }
    #login{
        padding: 0px 80px;
    }
    .page-register{
        padding: 40px 20px;
    }
}