* {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    font-family: Arial ,Helvetica, sans-serif;
}
input:hover, input:focus, button:hover, button:focus{
    box-shadow: none !important;
}
/* Mysite */
content{
    width: 100%;
    float: left;
    margin-top: 90px;
}
footer{
    width: 100%;
    float: left;
    background-color: rgba(47,46,46,1);
    color: #fff;
}
/* Header */
/* Menu */
#menu{
    height: 90px;
    text-align: center;
    justify-content: center;

    /* Fixed Header */
    position: fixed;
    background-color: #FDFEFE;
    top: 0px;
    width: 100%;
    z-index: 100;
}
.list-menu{
    width: 100%;
    height: 100%;
    padding: 0px 180px;
    cursor: pointer;
}
.logo{
    float: left;
    width: 25%;
    height: 100%;
    font-size: 20px;
    line-height: 90px;
    color: #1E2D3B;
    transition: color 0.4s ease 0s;
    letter-spacing: -0.5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-item span{
    float: left;
    width: 15%;
    height: 100%;
    font-size: 20px;
    line-height: 90px;
    color: #1E2D3B;
    background-color: #FDFEFE;
    transition: color 0.4s ease 0s;
    letter-spacing: -0.5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo img{
    width: 100%;
    height: 100%;
    padding: 3px;
}
.selected span{
    color: #FF3447;
}
.menu-item:hover span{
    color: #FF3447;
}
.dropdown-menu .dropdown-item{
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
}
.dropdown-menu .dropdown-item:hover{
    color: #FF3447;
}
.dropdown-menu .dropdown-item:active{
    color: #FF3447;
    background-color: #fff;
}
.dropdown-menu button:focus, .dropdown-menu button:active {
    outline: none !important;
    box-shadow: none !important;
}
#dropdown-account .dropdown-menu{
    transform: translate3d(1025px, 0px, 0px) !important
}
/* dropdown shop*/
#dropdown-shop .dropdown-menu{
    transform: translate3d(350px, 0px, 0px) !important;
}
 
/* Page Login */
#login{
    width: 100%;
    height: auto;
    float: left;
    padding: 20px 220px;
}
.login-title, .input-login, .page-register{
    width: 100%;
    float: left;
}
.login-title{
    padding-top: 20px;
}
.email-password{
    width: 70%;
    float: left;
    padding: 20px 20px;
}
.input-email , .input-password{
    float: left;
    width: 100%;
    height: 60px;
    margin: 10px 0px;
}
.input-email label, .input-password label{
    float: left;
}
.input-email h5, .input-password h5{
    line-height: 40px;
}
.input-email input, .input-password input{
    float: left;
    font-size: 15px;
    width: 50%;
    margin-left: 30px;
    border: 1px solid rgba(170, 35, 47, 1);
    cursor: pointer;
    padding: 10px 15px;
}
.input-email input:hover, .input-password input:hover, .input-email input:focus, .input-password input:focus{
    box-shadow: none;
}
.btn-login{
    width: 30%;
    float: left;
    padding-right: 20px;
    margin-top: 47px;
}
.btn-login a{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(170, 35, 47, 1);
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.6);
    border: solid rgba(43, 108, 163, 1) 0px;
    color: #fff !important;
    line-height: 80px;
    white-space: nowrap;
    margin: calc(-1 * 0px) 0px 0;
}
.btn-login a:hover{
    background-color: rgba(255, 154, 163, 1);
}
.btn-login a.btn:focus{
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.6);
}
.page-register{
    padding: 60px 20px;
    font-size: 32px;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: -1px;
}
.page-register a:hover{
    text-decoration: none;
    color: rgba(170, 35, 47, 1);
}
/*Footer*/
.footer{
    min-height: 400px;
    margin: 0px 200px;
}
.f-shop, .f-account, .f-contact{
    float: left;
    width: 33.33%;
    margin-top: 25px;
    line-height: 2;
    text-justify: center;
}
.f-shop{
    padding-left: 25px;
}
.f-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}
.footer ul li{
    list-style-type: none;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    font-weight: lighter !important;
    letter-spacing: normal;
}
.footer ul li a{
    color: #eff1f2;
    text-decoration: none;
}
.detail-contact{
    font-size: 13px;
    letter-spacing: 1px !important;
    font-style: italic;
    text-align: center;
}
.r2-contact-left{
    float: left;
    width: 25%;
}
.r2-contact-right{
    float: left;
    width: 70%;
    margin-top: 15px;
    line-height: 0.5;
}
a.link-http{
    font-size: 20px;
    color: #0069d9 !important;
}
a.link-http:hover{
    text-decoration: none;
    color: #FF3447 !important;
}

/* Register && Information Price*/
#register, #information-customer{
    float: left;
    width: 100%;
    line-height: 2;
}
.form-register, .form-price{
    margin: 20px 260px;
}
.register-title h4, .price-title h4{
    font-size: 34px;
    color: #3B3A3A;
}
.reg-row{
    width: 100%;
    height: 50px;
    float: left;
    padding: 5px;
}
.reg-lable{
    width: 40%;
    float: left;
    text-align: right;
    padding-right: 25px;
    font-size: 20px;
    margin-top: -3px;
}
.reg-mandatory{
    width: 70px;
    float: left;
    padding-top: 5px;
    font-size: 13px;
}
.reg-input{
    width: 50%;
    float: left;
}
.reg-input input, .reg-input select{
    width: 300px;
}
.reg-purview{
    width: 100%;
    float: left;
    padding: 5px;
    margin: 40px 0px;
    height: 400px;
    overflow-y: scroll;
}
.detail-purview{
    width: 100%;
    height: 500px;
    margin-top: 20px;
    border: 1px solid rgb(128,128,128);
}
.reg-btn{
    width: 100%;
    float: left;
}
.reg-option{
    height: auto;
}
.custom-control{
    margin-left: 20px;
}
.custom-control-label::before, .custom-control-label::after{
    margin-top: 3px;
}
.btn-back, .btn-register, .btn-price-quotation, .btn-price{
    padding: 40px 20px;
    float: left;
    width: 50%;
}
.btn-back button, .btn-register button, .btn-price-quotation button, .btn-price button{
    width: 150px;
}
.btn-back button:hover, .btn-register button:hover, .btn-price-quotation button:hover, .btn-price button:hover{
    background-color: #FF3447;
    border: 1px solid #fff;
}
/* My Cart */
#div-my-cart{
    width: 100%;
    height: auto;
    float: left;
    padding: 30px 220px;
}
.page-my-cart{
    width: 100%;
    float: left;
}
.page-my-cart h2{
    padding: 30px 0px;
    color: #3B3A3A;
}
.item-in-cart{
    width: 100%;
    float: left;
    padding: 20px 0px;
    min-height: 90px;
    margin-top: 10px;
    position: relative;
}
.item-name{
    width: 45%;
    float: left;
    padding: 0px 20px;
    color: #1E2D3B;
    font-size: 25px;
}
.change-number-item{
    width: 30%;
    float: left;
}
.delete-item{
    width: 25%;
    float: left;
    text-align: center;
    justify-content: center;
}
.change-number-item{
    color: #42CCCC;
    text-align: center;
    justify-content: center;
}
.change-number-item span{
    padding: 10px 50px;
    font-size: 28px;
    font: normal normal normal 24px/1.4em georgia,palatino,'book antiqua','palatino linotype',serif;
}
.change-number-item i{
    cursor: pointer;
    padding-top: 15px;
    font-size: 20px;
}
.delete-item button{
    cursor: pointer;
    width: 180px;
    height: 50px;
    text-align: center;
    background-color: rgba(170, 35, 47, 1);
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.6);
    border: solid rgba(43, 108, 163, 1) 0px;
    border-radius: 100%;
    color: #fff !important;
    line-height: 50px;
    white-space: nowrap;
    margin: calc(-1 * 0px) 0px 0;
}
.delete-item button:hover{
    background-color: rgba(255, 154, 163, 1);
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.6) !important;
}
.delete-item button:focus, .delete-item button:active {
    outline: none !important;
    box-shadow: none !important;
}
.crossbar{
    float: left;
    width: 100%;
    bottom: 0px;
    position: absolute;
    height: 6px;
    border-radius: 7px;
    background-color: rgba(227, 226, 226, 1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 1px 0 rgba(0, 0, 0, 0.25);
}
/* Responesive */
/* Dành cho điện thoại hiện ngang*/
@media all and (max-width: 479px){
    /*login*/
    .list-menu{
        padding: 0px;
    }
    #menu{
        top: 0px;
        height: 60px;
    }
    .logo {
        width: 100%;
        position: relative;
    }
    .logo img{
        position: absolute;
        top: 0;
        left: 0;
    }
    .menu-item span{
        width: 20%;
        font-size: 11px;
        line-height: 25px;
    }
    #dropdown-shop .dropdown-menu{
        transform: translate3d(0px,35px,0px) !important;
    }
    .login-title{
        padding-top: 15px;
    }
    .login-title h4{
        font-size: 14px;
    }
    .email-password{
        width: 100%;
        padding: 10px 10px;
    }
    .input-email, .input-password{
        height: 30px;
    }
    .input-email input, .input-password input{
        margin-left: 10px;
        font-size: 12px;
        width: 55%;
    }
    .btn-login{
        width: 100%;
        text-align: center;
        padding: 0px;
        margin-top: 10px; 
    }
    .btn-login a{
        height: 40px;
        border-radius: 10px;
        line-height: 30px;
    }
    .email-password label h5{
        font-size: 14px;
    }
    /*register*/
    .form-register, .form-price{
        margin: 20px 10px;
    }
    .register-title h4, .price-title h4{
        font-size: 20px;
    }
    .reg-purview{
        margin: 30px 0px;
    }
    .reg-purview h3{
        font-size: 20px;
        margin: 30px 0px;
    }
    .btn-back, .btn-register , .btn-price-quotation, .btn-price{
        padding: 20px 0px;
    }
    .btn-back button, .btn-register button , .btn-price-quotation button, .btn-price button{
        width: 120px;
    }
    .reg-lable {
        width: 35%;
        font-size: 15px;
        margin-top: 3px;
        padding-right: 10px;
    }
    .reg-mandatory {
        width: 40px;
        padding-top: 8px;
        font-size: 10px;
    }
    .reg-input input, .reg-input select {
        width: 160px;
    }
    /*my-cart*/
    #div-my-cart {
        padding: 15px 20px;
    }
    .page-my-cart h2 {
        padding: 5px 0px;
        font-size: 24px;
    }
    .item-in-cart {
        padding: 20px 0px;
    }
    .item-name {
        width: 26%;
        padding: 10px 5px;
    }
    .change-number-item span {
        padding: 11px 8px;
        font-size: 17px;
    }
    .item-name {
        font-size: 18px;
    }
    .delete-item {
        width: 35%;
    }
    .delete-item button{
        width: 130px;
    }
    /*footer*/
    .footer{
        margin: 0px 20px;
    }
    #login{
        padding: 0px 20px;
    }
    .page-register{
        padding: 40px 10px;
        font-size: 15px;
        text-align: center;
    }
    .footer{
        padding: 20px 20px;
    }
    .f-shop, .f-account{
        width: 50%;
        min-height: 200px;
        margin: 0 auto;
    }
    .f-contact{
        width: 100%;
        margin: 0 auto;
    }
    .f-shop {
        padding-left: 0px;
    }
    .f-title{
        font-size: 20px;
    }
    .footer ul li{
        font-size: 14px;
    }
    .detail-contact{
        font-size: 11px;
        text-align: center;
    }
}
/* Dành cho điện thoại hiện ngang*/
@media all and (min-width: 480px) and (max-width: 767px) {
    .list-menu{
        padding: 0px;
    }
    #menu{
        top: 0px;
        height: 60px;
    }
    .logo {
        width: 100%;
        position: relative;
    }
    .logo img{
        position: absolute;
        top: 0;
        left: 0;
    }
    .menu-item span{
        width: 20%;
        font-size: 16px;
        line-height: 25px;
    }
    #dropdown-shop .dropdown-menu{
        transform: translate3d(20px,35px,0px) !important;
    }
    /*register*/
    .form-register, .form-price{
        margin: 20px 100px;
    }
    .register-title h4, .price-title h4{
        font-size: 20px;
    }
    .reg-purview{
        margin: 30px 0px;
    }
    .reg-purview h3{
        font-size: 20px;
        margin: 30px 0px;
    }
    .btn-back, .btn-register , .btn-price-quotation, .btn-price{
        padding: 20px 0px;
    }
    .reg-lable {
        width: 37%;
        font-size: 15px;
        margin-top: 3px;
        padding-right: 10px;
    }
    .reg-mandatory {
        width: 40px;
        padding-top: 6px;
        font-size: 12px;
    }
    .reg-input input, .reg-input select {
        width: 230px;
    }
    /*login*/
    .login-title{
        padding-top: 15px;
        padding-left: 40px;
    }
    .login-title h4{
        font-size: 14px;
    }
    .email-password{
        width: 100%;
        padding: 10px 70px;
    }
    .input-email, .input-password{
        height: 30px;
    }
    .input-email input, .input-password input{
        margin-left: 10px;
        font-size: 15px;
        width: 70%;
    }
    .btn-login{
        width: 100%;
        text-align: center;
        padding: 0px;
        margin-top: 10px; 
    }
    .btn-login a{
        height: 40px;
        border-radius: 10px;
        line-height: 30px;
    }
    .email-password label h5{
        font-size: 14px;
    }
    #login{
        padding: 0px 20px;
    }
    /*my-cart*/
    #div-my-cart {
        padding: 15px 70px;
    }
    .page-my-cart h2 {
        padding: 5px 0px;
        font-size: 24px;
    }
    .item-in-cart {
        padding: 20px 0px;
    }
    .item-name {
        width: 26%;
        padding: 10px 5px;
    }
    .change-number-item span {
        padding: 11px 8px;
        font-size: 17px;
    }
    .item-name {
        font-size: 18px;
    }
    .delete-item {
        width: 35%;
    }
    .delete-item button{
        width: 130px;
    }
    /*footer*/
    .footer{
        margin: 0px 20px;
    }
    .page-register{
        padding: 40px 10px;
        font-size: 15px;
        text-align: center;
    }
    .footer{
        padding: 0px 20px;
    }
    .f-shop, .f-account{
        width: 28%;
        padding-left: 0px;
        padding-top: 0px;
    }
    .f-contact{
        width: 44%;
        padding-left: 0px;
        padding-top: 0px;
    }
    .f-title{
        font-size: 20px;
    }
    .footer ul li{
        font-size: 14px;
    }
    .detail-contact{
        font-size: 15px;
        text-align: center;
    }
} 
/* Dành cho máy tính bảng hiện dọc */
@media all and (min-width: 768px) and (max-width: 1023px){
    .list-menu{
        padding: 0px 20px;
    }
    .footer{
        margin: 0px 20px;
    }
    .menu-item span{
        font-size: 18px;
    }
    #dropdown-shop .dropdown-menu{
        transform: translate3d(115px,0px,0px) !important;
    }
    /*login*/
    #login{
        padding: 0px 80px;
    }
    .page-register{
        padding: 40px 20px;
        font-size: 27px;
    }
    /*register*/
    .form-register, .form-price{
        margin: 20px 110px;
    }
    .register-title h4, .price-title h4{
        font-size: 28px;
    }
    .reg-purview h3{
        font-size: 28px;
    }
    .reg-lable{
        width: 30%;
    }
    .reg-input input, .reg-input select{
        width: 260px;
    }
    /*my-cart*/
    #div-my-cart{
        padding: 30px 75px;
    }
    .item-name {
        width: 38%;
    }
    /* footer */
    .f-shop, .f-account{
        width: 28%;
    }
    .f-contact{
        width: 44%;
    }
    .f-shop, .f-account, .f-contact{
        line-height: 2;
    }
}
/* Dành cho máy tính bảng hiện ngang*/
@media all and (min-width: 1024px) and (max-width: 1365px){
    /*login*/
    #login{
        padding: 0px 80px;
    }
    .footer{
        margin: 0px 20px;
    }
    .list-menu{
        padding: 0px 40px;
    }
    #dropdown-shop .dropdown-menu{
        transform: translate3d(210px,0px,0px) !important;
    }
    /*register*/
    .form-register, .form-price{
        margin: 20px 110px;
    }
    .register-title h4, .price-title h4{
        font-size: 28px;
    }
    .reg-purview h3{
        font-size: 28px;
    }
    /*my-cart*/
    #div-my-cart{
        padding: 30px 75px;
    }
    /*footer*/
    .page-register{
        padding: 40px 20px;
    }
}