/*Slide bar*/
#slider-bar{
    width: 100vw;
    height: 600px;
}

#carouselslide{
    width: 100vw;
    height: 90vh;
}


/* Thẻ chứa ảnh của slideshow */
.carousel-inner{
    width: 100%;
    height: 100%;
}

.carousel-item{
    width: 100%;
    height: 100%;
}

.carousel-inner img{
    transform: translateY(-130px);
}

.carousel-caption {
    top: 20vh;
    bottom: auto;
}

.carousel-caption h3{
    text-shadow: 2px 2px 2px white;
    color: #1e2d3b;
	font-size: 7vh;
	font-family: 'lato';
	letter-spacing: 5px;
	font-weight: bold;
}

.carousel-caption h4{
    text-shadow: 2px 2px 2px white;
    font-size: 5vh;
	font-family: 'lato';
	letter-spacing: 10px;
    color: #1e2d3b;
}

.carousel-caption button{
    margin-top: 5vh;
	padding: 10px 30px 10px 30px;
	
    font-size: 20px;
    font-family: 'lato';
    color: white;
	text-decoration: none;
	border:1px solid white;
	background-color: rgba(0, 0, 0, 0.2);
}

.carousel-caption button:hover{
	color:black;
	background-color:#FFFFFF;
}

/* Thẻ chứa nút điều hướng của slideshow */

.carousel-control-prev i{
    font-size: 15vh;
}

.carousel-control-next i{
    font-size: 15vh;
}

/* Nút chọn slide */
.carousel-indicators{
    display: block;
    margin-bottom: 7vh;
}

.carousel-indicators li {
    border-radius: 20px !important;
    width: 20px !important;
    height: 20px !important;
}

/*Product*/
#CategoryProduct{
    width: 100%;
    height: auto;
    padding:0 15vw;
}

#ImageProducts{
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    text-align: justify;
    background-color: rgb(239, 241, 242);
}

.imageTry2d3d{
    margin-top: 50px;
    margin-bottom: 100px;
    width:100%;
}

.imageOther{
    margin-top:30px;
    width:100%;
}

.imageOfProduct{
    margin-top:30px;
    width: 47%;
}

/* Fuoco */
#imagefuoco{
    margin: 0 150px;
    display: none;
}

#imagefuoco img{
    height: 80vh;
    width: 100%;
    display: block;
    object-fit: cover;
}

#ListItem{
    display: none;
}

#ListItem .row{
	border-bottom: 20px solid #f7f7f7;
}

#ListItem .row div{
	background-color: white;
	text-align: center;
	border-right:20px solid #f7f7f7;
}

#ListItem .row div:nth-child(3){
	border-right-color: white;
}

#ListItem img{
	margin-top: 79px;
    margin-bottom: 79px;
	width: 100%;
	height: 226px;
}

#ListItem button{
    color: white;
    background-color: rgba(255, 52, 71, 1);
    padding: 6px 24px;
    border:none;
}

#ListItem h4{
    margin-top: 30px;
    font-size: 26px;
    font-weight: bold;
}

#ListItem h5{
    opacity: 0.8;
    font-size: 15px;
    color: #1E2D3B;
    line-height: 1.6em;
    margin-left: 20px;
    margin-right: 20px;
}

#ListItem a{
    display: inline-block;
    margin:40px 10px;
}

#ListItem a:hover{
    opacity: 0.7;
    color: black;
    text-decoration: none;
}