/*Slide bar*/
#slider-bar{
    width: 100vw;
    height: 600px;
    /* height: 115vh; */
    overflow:hidden;
}



.carousel-indicators{
	
}

.carousel-inner img{
    transform: translateY(-130px);
	width: 100vw;
}

.carousel-caption {
    
    top: 40vh;
    bottom: auto;
}

.carousel-caption h3{
    /*color: #1E2D3B;*/
    color: #1e2d3b;
	font-size: 50px;
	font-family: 'lato';
	letter-spacing: 5px;
	font-weight: bold;
}

.carousel-caption h4{
	font-size: 30px;
	letter-spacing: 10px;
    color: #1e2d3b;
}

.carousel-caption button{
	padding: 10px 30px 10px 30px;
	
	font-size: 20px;
	text-decoration: none;
	border:1px solid white;
	background-color: rgba(255,255,255,0);
}

.carousel-caption button:hover{
	color:black;
/* 	background-color:white;*/
	background-color:#FFFFFF;
}

.carousel-control{
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;

	/*border: 3px solid green;*/
}

.carousel-control.left,.carousel-control.right{
    background: none !important;
    /*filter: progid:none !important;*/
}

.left.carousel-control svg{
	transform: rotate(180deg);
}

.carousel-control svg{
	width: 60px;
	height: 17px;
	position: absolute;
	top: 35%;
	display: block;
	/*border: 3px solid blue;*/
}

/*Product*/
.CategoryProduct{
    width: 100%;
    height: auto;
    float: left;
    padding:0 220px;
}

.CategoryProduct .row{
	border-bottom: 20px solid #f7f7f7;
}

.CategoryProduct .row div{
	background-color: white;
	text-align: center;
	border-right:20px solid #f7f7f7;
}

.CategoryProduct .row div:nth-child(1){
	
}

.CategoryProduct .row div:nth-child(2){
}

.CategoryProduct .row div:nth-child(3){
	border-right-color: white;
}

.CategoryProduct img{
	margin-top: 79px;
    margin-bottom: 79px;
	width: 100%;
	height: 226px;
}

.CategoryProduct button{
    color: white;
    background-color: rgba(255, 52, 71, 1);
    padding: 6px 24px;
    border:none;
}

.CategoryProduct h4{
    margin-top: 30px;
    font-size: 26px;
    font-weight: bold;
}

.CategoryProduct h5{
    opacity: 0.8;
    font-size: 15px;
    color: #1E2D3B;
    line-height: 1.6em;
    margin-left: 20px;
    margin-right: 20px;
}

.CategoryProduct a{
    display: inline-block;
    margin:40px 10px;
}

.CategoryProduct a:hover{
    opacity: 0.7;
    color: black;
    text-decoration: none;
}

/* shop_fuoco.html */

#imgHeader{
    margin: 0 150px;
}

#imgHeader img{
    width: 100%;
    height: 510px;
    object-fit: fill;
}

